<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>ChinaMSP</title>
		<link href="./resources/bootstrap.min.css" rel="stylesheet">	
		<style type="text/css">
			li{
				list-style: none;
			}

			.message{
				border-bottom: 1px solid #f2f2f2;
				position: relative;
				margin-top: 20px;
			}
			.avatar{
				display: inline-block;
				float: left;
				margin-right: 10px;
			}
			.message p{
				margin: 0px;
				padding-left: 30px;
   		 		padding-top: 10px;
			}
			.delete{
				position: absolute;
				top: 5px;
				right: 10px;
			}
			html,body,.container{
				height: 100%;
			}
			.container ul{
				height: 60%;
				overflow: auto;
			}
		</style>
	</head>


	<body>
		<div class="container" id="box">
					
			<ul class="table table-border ">
				<h2 class="h2 text-info">留言列表</h2>
				<p  v-if="myData.length==0" class="text-info">暂无数据</p>
				<li class="message" v-for="item in myData" v-model="item" >
				    <div  style="margin-bottom: 5px;margin-top: 5px">
				        <div class="avatar">
				        	<img  src="./resources/boy.png" style="width: 20px;">
				        </div>
				        <div class="info" style="display: inline-block;">
				        	<span style="font-size: 15px; color: rgb(51, 51, 51);">{{item.author}}</span>
				            <span style="font-size: 12px; color: rgb(150, 150, 150);">{{item.date}}</span>
				        </div>
				        <p style="">{{item.content}}</p>
				        <button  v-bind:id="item.id" class="btn btn-sm btn-danger delete" @click="deleteClick($event)" data-toggle='modal' data-target="#layer">删除</button>
				    
				    </div>

				</li>
			</ul>



			<button v-if="myData.length" class="btn btn-sm btn-danger pull-right" @click="deleteAllClick()" data-toggle='modal' data-target="#layer">清空留言</button>
			

			<div style="position: absolute;bottom: 10px">
				<h2 class="text-info text-center">添加留言</h2>
				<form id="form" role='form' style="width: 500px">
					<div class="form-group">
						<label for="username">留言者:</label>
						<input type="text" id="author" placeholder="输入姓名" v-model="author" class="form-control"/>
					</div>
					<div class="form-group">
						<label for="age">留言内容:</label>
						<textarea  id="content" placeholder="输入内容" v-model="content" class="form-control"></textarea>
					</div>
					<div class="form-group">
						<input type="button" class="btn btn-primary" @click="add()" value="添加"/>
						<input style="display: none;" type="reset" class="btn btn-danger"  value="重置"/>
					</div>
				</form>
			</div>


		


			<div role='dialog' class="modal fade" id="layer" >
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss='modal'>
								<span>&times;</span>
							</button>
							<h4 class="modal-title">{{title}}</h4>
						</div>
						<div class="modal-body text-right">
							<button class="btn btn-primary" data-dismiss='modal'>取消</button>
							<button class="btn btn-danger" @click="deleteItem(nowIndex)" data-dismiss='modal'>确认</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script src="./resources/jquery.min.js"></script>
		<script src="./resources/bootstrap.min.js"></script>
		<script src="./resources/vue.min.js"></script>
		<script src="main.js"></script>
	</body>
</html>
